<section id="register">
  <div class="bwm-form">
    <div class="row">
      <div class="col-md-5">
        <h1 class="page-title">Register</h1>
        <form [formGroup]="registerForm">
          <div class="form-group">
            <label for="firstName">FirstName</label>
            <input  formControlName="firstName" name="firstName" 
                    type="text"
                    class="form-control"
                    id="firstName"
                    required>
                <div *ngIf="isInValidForm('firstName')"
                    class="alert alert-danger">
      
                    <div *ngIf="isRequired('firstName')">
                      firstName is required.
                    </div>
                </div>
          </div>

          <div class="form-group">
            <label for="lastName">lastName</label>
            <input  formControlName="lastName" name="lastName" 
                    type="text"
                    class="form-control"
                    id="lastName">
          </div>

          <div class="form-group">
            <label for="phone">PhoneNumber</label>
            <ngx-intl-tel-input
                [inputId]="'adsasd'"
                [cssClass]="'custom'" 
                [preferredCountries]="preferredCountries"
                [enableAutoCountrySelect]="false" 
                [enablePlaceholder]="true" 
                [searchCountryFlag]="true"
                [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
                [selectFirstCountry]="false" 
                [selectedCountryISO]="CountryISO.India"
                [maxLength]="15" 
                [tooltipField]="TooltipLabel.Name" 
                [phoneValidation]="true" 
                [separateDialCode]="separateDialCode"
                name="phone" formControlName="phone">
              <div *ngIf="isInValidForm('phone')"
                  class="alert alert-danger">
    
                  <div *ngIf="isRequired('phone')">
                    phoneNumber is required.
                  </div>
                  <div *ngIf="registerForm.controls['phone'].errors.pattern">
                    Must be valid email format!
                  </div>

                 
              </div>
            </ngx-intl-tel-input>
           
          </div>

         <div class="form-group">
            <label for="email">Email</label>
            <input  formControlName="email" name="email" 
                    type="text"
                    class="form-control"
                    id="email"
                    required>
                <div *ngIf="isInValidForm('email')"
                    class="alert alert-danger">
      
                    <div *ngIf="isRequired('email')">
                      email is required.
                    </div>
                    <div *ngIf="registerForm.controls['email'].errors.pattern">
                      Must be valid email format!
                    </div>

                    <div *ngIf="registerForm.get('email').hasError('isEmailUnique')">
                      This email has been registered already
                    </div>
                </div>
          </div>

          <div class="form-group">
            <label for="password">Password</label>
            <input  formControlName="password" name="password" 
                    type="password"
                    class="form-control"
                    id="password"
                    required>
                <div *ngIf="isInValidForm('password')"
                    class="alert alert-danger">
      
                    <div *ngIf="isRequired('password')">
                      password is required.
                    </div>
                    <div *ngIf="registerForm.controls['password'].errors.minlength">
                      Password must be at least 7 characters
                    </div>
                </div>
          </div>


          <button [disabled]="!registerForm.valid" type="submit" class="btn btn-bwm" (click)="register()">Submit</button>
            
        </form>
      </div>
    </div>
  </div>
</section>

<!-- <button class="btn waves-effect waves-light" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button> -->

<!-- ng2TelInput 
            [ng2TelInputOptions]="{initialCountry: 'us'}"
            formControlName="phoneNumber" 
            (hasError)="hasError($event)" />
          <div
            *ngIf="
            !registerForm.get('phoneNumber').valid &&
            registerForm.get('phoneNumber').touched">
          This is an <strong>invalid</strong> phone number.
          </div> -->